@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url('./assets/lato-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('./assets/lato-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('./assets/lato-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url('./assets/lato-900.woff2') format('woff2');
}

*, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #f06c64;
}

body {
  font-family: Lato, sans-serif;
  font-weight: 400;
}

.wrapper {
  margin: 0 auto;
  max-width: 940px;
  overflow: hidden;
  height: 100%;
  position: relative;
}

/* Header */
.header {
  height: 90px;
  background-color: #2d303a;
  border-bottom: 5px solid #323746;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  letter-spacing: -0.5px;
}

.logo a {
  font-size: 25px;
  font-weight: 700;
  line-height: 6px;
  text-transform: uppercase;
}

.logo a::after {
  content: '*';
  color: #f06c64;
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 6px;
  font-weight: 700;
  width: 372px;
  padding-top: 10px;
}

.menu li:not(:nth-child(1))::before {
  content: "\00B7";
  color: #494e62;
  padding-right: 13px;
}

/* Slider */
#slider {
  height: 590px;
  background-color: #f06c64;
  border-bottom: 10px solid #ea676b;
  position: relative;
}

.arrow {
  display: inline-block;
  width: 16px;
  height: 27px;
  background-size: cover;
  cursor: pointer;
  position: absolute;
  top: 281px;
}

.arrow-left, .arrow-right {
  background-image: url(assets/arrow.svg);
  opacity: 0.2;
}

.arrow-right {
  right: 0px;
  transform: rotate(180deg);
}

.arrow-left:active, .arrow-right:active  {
  background-image: url(assets/arrow.svg);
  opacity: 0.8;
}

.arrow-left:hover, .arrow-right:hover {
  opacity: 0.75;
}

.iphone-vertical {
  position: absolute;
  top: 53px;
  left: 72px;
}

.iphone-horizontal {
  position: absolute;
  top: 174px;
  left: 385px;
}

/* Services */
.services {
  background-color: #f2f2f2;
  width: 100%;
}

.services-wrapper {
  padding-top: 59px;
  padding-bottom: 30px;
}

.services-wrapper p {
  color: #767e9e;
}

.services-wrapper > p {
  margin-top: 19px;
  line-height: 1.7;
  font-weight: 300;
  font-size: 18px;
  text-align: justify;
}

.services-elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 45px;
}

.service {
  width: 220px;
  margin-bottom: 31px;
  padding-left: 80px;
  background: transparent no-repeat top left;
}

.service.custom-design {
  background-image: url("assets/pen.png");
}

.service.inovative-ideas {
  background-image: url("assets/lamp.png");
}

.service.love-is-the-answer {
  background-image: url("assets/heart.png");
}

.service.responsive-layout {
  background-image: url("assets/phone.png");
}

.service.support-24-7 {
  background-image: url("assets/bubble.png");
}

.service.feel-like-a-star {
  background-image: url("assets/star.png");
}

.services-wrapper h2 {
  font-size: 30px;
  font-weight: 900;
  color: #666d89;
}

.service h3 {
  font-size: 18px;
  line-height: 1.1;
  font-weight: 900;
  color: #666d89;
}

.service p {
  margin-top: 12px;
  max-height: 65px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1.7;
  text-align: justify;
}